$color-header: #e392bb;
$header-a-color: rgb(241, 232, 238);
$li-hover-color: rgb(202, 135, 166);
$products-gradient-color:rgb(238, 203, 222),
rgba(77, 75, 75, 0);
$background-button-color:#e7b9d0;
$border-button-color:#e6a3c4;
$description-h2-color:#776973;
$background-footer-color: rgb(202, 172, 187);
$carrito-color: #776973;
$button-white-color: rgb(245, 234, 234);



